<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465658065911-orjkec3uiah6p6cputuece5vpie3ravu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465658065911-orjkec3uiah6p6cputuece5vpie3ravu</string>
	<key>API_KEY</key>
	<string>AIzaSyCh06evIa1pF_T_C54zL7GCIrufAA5-8yE</string>
	<key>GCM_SENDER_ID</key>
	<string>465658065911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thisisvault.chat</string>
	<key>PROJECT_ID</key>
	<string>flush-chat-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>flush-chat-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465658065911:ios:d82b0fd49e2d64e8a8f4f2</string>
	<key>DATABASE_URL</key>
	<string>https://flush-chat-ios.firebaseio.com</string>
</dict>
</plist>